<%- include("partials/header") -%>

<main class="dashboard col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Contacts</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>

    <div class="container">
        <div>
          <a href="/new-contact"><button class="btn btn-primary contact-btn">+ Add Contact</button></a>
        </div>
        <div class="contact-list">
            <table class="contacts-list" style="width: 100%">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Company
                </th>
                <th>
                  Last Encounter
                </th>
              </tr>
                <% contacts.forEach(function(contact){ %>
                <% const fName = contact.firstName %>
                <% const lName = contact.lastName %>
                <% const urlName = lName.toLowerCase() %>
                <tr>
                  <td>
                    <a href="/contacts/<%= urlName %>"> <%= fName  %> <%= lName %> </a>
                  </td>
                  <td>
                    <% const company = contact.company %>
                    <%= company %>
                  </td>
                  <td>
                    This will be a description of an encounter...
                  </td>
                  <td>
                    <button class="btn btn-primary">X</button>
                  </td>
                </tr>
              <% }); %>
            </table>
        </div>
    </div>

</main>

<%- include("partials/footer") -%>