<%- include("partials/header") -%>

<main class="dashboard col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2"><%= refSource %></h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>

    

    <div> 
    
      <button class="btn btn-primary back-button">Back</button>
      
    </div>
    <br>
    <h6>Encounter Date:</h6> <p><%= date %></p>
    <h6>Encounter type:</h6> <p><%= type %></p>
    <h6>Encounter notes:</h6>
    <p><%= notes %></p>
    
    <h6>Next action:</h6> <p><%= next %></p>
    <h6>Next action deadline:</h6> <p><%= fuDate %></p>
    

</main>

<%- include("partials/footer") -%>